.home-wrapper {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100%;
    
}
.main-container {
    width: -webkit-fill-available;
    display: flex;
    flex-direction: column;
}

#button-container {
    width: 300px;
    height:80px;
    background-color: gold;
    border-radius: 15px;
    margin-top: 50px;
    margin-left: 20px;
}
#add-btn {
    display: flex;
    align-items: center;
    height:50px;
    flex-direction: row;
}

#new-group {
    font-size: 24px;
    align-items: center;
    width: 400px;
}
