 #sidebar {
     width: 25%
 }
 .pro-sidebar {
    height: 100%;
    width: 100%;
    min-width: 100%;
  }

.pro-sidebar-inner {
    background-color: rgb(180, 51, 51);
    box-shadow: 0.5px 0.866px 2px 0px rgba(0, 0, 0, 0.15);
  }
.pro-sidebar-inner .pro-sidebar-layout {
    overflow-y: hidden;
    background-color: #545252;
  }

.pro-sidebar-inner .pro-sidebar-layout .logotext p {
    font-size: 20px;
    padding: 0 20px;
    color: rgb(240, 233, 233);
    font-weight: bold;
  }
.pro-sidebar-inner .pro-sidebar-layout ul {
    padding: 0 5px;
  }
.pro-sidebar-inner .pro-sidebar-layout ul .pro-inner-item {
    color: rgb(255, 255, 255);
    margin: 10px 0px;
    font-weight: bold;
  }
.pro-sidebar-inner .pro-sidebar-layout ul .pro-inner-item .pro-icon-wrapper {
    color: rgb(255, 255, 255);
    border-radius: 3px;
  }
.pro-sidebar-inner .pro-sidebar-layout .active {
    background-image: linear-gradient(0deg, #41308b 0%, #ffe172 100%);
  }
.logo {
    padding: 20px;
  }
  
@media only screen and (max-width: 720px) {
    html {
      overflow: hidden;
    }
}