.login-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-container {
    padding-top: 50px;
    width: 300px;
    align-items:center;
}

.logo {
    width: inherit;
}

.header {
    font-size: 75px;
    font-family: monospace;
    margin-bottom: auto
}

#login-button {
    margin-top: 10px;
    background-color: lightskyblue;
    width: 150px;
    height: 50px;
    font-weight: bold;
    font-family: monospace;
    border-radius: 10px;
}

#new-user {
    margin-top: 15px;
    border: none;
    color: red;
    background-color: white;
}