#container{
    display: block;
    justify-content: center;
    text-align: center;
}

#register-form {
    display: inline-block;
    width: 300px;
    border: 5px solid lightskyblue;
    border-radius: 20px;
    background-color: lightgray;
}